.req{
    color: red;
}

body {
    padding-bottom: 70px;
    padding-top: 70px;
}

.logout{
    margin-top: 10px;
}

.thumbnail{
    height: 200px;
}

.thumbnail img{
    height: 100px;
    max-height: 100px;
}

.caption h4 {
    white-space: nowrap;
}


